<?xml version="1.0"?>
<model>
  <name>x500_obrik_graffiti_cam_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Obrik graffiti cam body using the standard Obrik X500 motor and propeller geometry.</description>
</model>
