<?xml version="1.0"?>
<model>
  <name>x500_obrik_gigaobrik</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Gigaobrik configuration with X500 mass and motor model parameters.</description>
</model>
