<?xml version="1.0"?>
<model>
  <name>x500_obrik_gigaobrik_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Gigaobrik visual and collision geometry on the X500 physical base.</description>
</model>
