<?xml version="1.0"?>
<model>
  <name>x500_obrik_gigaobrik_lidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Gigaobrik with the clean base, downward MTF-01, downward Logitech BRIO 95 camera, and front-mounted Unitree L2.</description>
</model>
