<?xml version="1.0"?>
<model>
  <name>x500_obrik_firefighter</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Firefighter configuration with Unitree L2, MTF-01, and five optional BRIO 95 cameras.</description>
</model>
