<?xml version="1.0"?>
<model>
  <name>Livox Avia</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>SVErk</name>
    <email>petayyyy@gmail.com</email>
  </author>
  <description>Livox Avia lidar with non-repetitive and repetitive scan modes.</description>
</model>
